%h1
  Teams
  = link_to 'Add Team', new_team_path, rel: 'add-team', class: %i(btn btn-primary)
%ul
  - @teams.each do |team|
    %li
      = link_to team.name, team_path(team), rel: 'view-team'
      .switch= membership_switch(team)
