= render 'invitation_requests/count_alert'
%h1
  Teams
  = add_team_link
%ul
  - @teams.each do |team|
    %li
      %h2= link_to team.name, team_path(team), rel: 'view-team'
      .switch(data-on-label='YES!' data-off-label='NOPE')
        = membership_switch(team)
