%h1
  %small Team
  = @team.name
  = link_to 'Edit', edit_team_path(@team), class: :btn
  = link_to 'Delete', team_path(@team), method: :delete, rel: 'delete-team', class: %i(btn btn-danger), data: { confirm: 'Are you sure?' }
= render 'users/snapshots', users: @team.users
