%div(style='text-align:center')
  = link_to 'Sign in with Github',  '/auth/github',   rel: 'github-sign-in',  class: %i(btn btn-primary btn-large)
  = link_to 'Sign in with Twitter', '/auth/twitter/', rel: 'twitter-sign-in', class: %i(btn btn-info btn-large)
