
%ul.thumbnails.snapshots
  - @users.each do |user|
    %li.pull-left.user{ id: user.id, style: 'margin-left:0; margin-right:20px' }
      .thumbnail
        = image_tag user.snapshot.url, class: :snapshot
        .caption
          = user.username

<video id="video" width="300" height="300" autoplay style='display: none;'></video>
<canvas id="canvas" width="300" height="300" style='display: none;'></canvas>
