.row-fluid
  %ul.thumbnails
    - @users.each do |user|
      - if user.snapshot.file.exists?
        %li.span3.user{ id: user.id }
          .thumbnail
            = image_tag user.snapshot.url, class: :snapshot
            .caption
              = user.username
