%h1 You're invited to Snapme!

%p
  Thanks for your patience while we've processed your request.
  Click the link below to login to Snapme with your selected
  provider!

%p= link_to 'Login to Snapme', sign_in_url(invitation_token: @invitation_token)
